
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Scientist.net</h1>
    <h2>A .NET library for carefully refactoring critical paths</h2>
    <h3><a href="https://github.com/scientistproject/Scientist.net">https://github.com/scientistproject/Scientist.net</a></h3>
</div>
<br />
<br />
<br />

<div class="text-left">
    <code>
        <span>Install-Package Scientist</span>
    </code>
</div>




<br />
<br />
<br />
<div class="text-left">
    <code>
        <span class="keyword">var</span> result = <span class="className">Scientist</span>.Science&lt;<span class="keyword">bool</span>&gt;(<span class="string">"my experiment name"</span>, experiment =>
        <br />{
        <br />&nbsp;&nbsp;&nbsp;&nbsp; experiment.Use(ExistingMethod);
        <br />&nbsp;&nbsp;&nbsp;&nbsp; experiment.Try(<span class="string">"Candidate 1"</span>, RefactoredMethod);
        <br />});
    </code>
</div>